*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Quicksand", serif;
    text-decoration: none;
    appearance: none;
}


/* Menu */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(239, 212, 178);
    padding: 15px 30px;
}

.menu p{
    text-transform: uppercase;
}

.menu ul{
    display: flex;
    list-style: none;
    justify-content: center;
    margin-left: auto;
}

.menu li{
    padding: 0px 20px;
}
.menu a{
    color: black;
}

.menu button{
    background-color: rgb(237, 160, 35);
    padding: 10px;
    border: none;
    margin-left: 40px;
}

.menu button a{
    color: white;
    text-transform: uppercase;
}

 /* Home-1 */

 .home1{
    display: flex;
    justify-content: center;
 }



